@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>All Employees</h1>
<br />
<br />
<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Create New Employee</a>
<br />
<div class="row justify-content-center align-content-center">
    <form class="row col-8 offset-1">
        <div class="col-8">
            <input type="text" class="form-control" name="SearchValue" placeholder="Search By Name" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </form>
</div>
<br />
@if(TempData["message"] is not null)
{
    <div class="alert alert-success">
        @TempData["message"]
    </div>
}
@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>               
                <th>@Html.DisplayNameFor(D=>D.Name)</th>
                <th>@Html.DisplayNameFor(D=>D.Age)</th>
                <th>@Html.DisplayNameFor(D=>D.Salary)</th>
                <th>@Html.DisplayNameFor(D=>D.image)</th>
                <th>@Html.DisplayNameFor(D=>D.Department)</th>
                <th>@Html.DisplayNameFor(D=>D.Address)</th>               
                <th>@Html.DisplayNameFor(D=>D.Email)</th>
                <th>@Html.DisplayNameFor(D=>D.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(D=>D.HireDate)</th>
                <th>@Html.DisplayNameFor(D=>D.IsActive)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Age</td>
                    <td>@Html.DisplayFor(E=>employee.Salary)</td>
                    <td>
                        <img src="~/Files/Images/@employee.ImageName" class="img-fluid rounded" alt="Employee Image" height="30" width="30"/>
                    </td>
                    <td>@Html.DisplayFor(E=>employee.Department.Name)</td>
                    <td>@employee.Address</td>
                    <td>@Html.DisplayFor(E=>employee.Email)</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@employee.HireDate</td>
                    <td>
                        @if(employee.IsActive == true)
                        {
                            <i class="fa-solid fa-circle" style="color:green"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-circle" style="color:red"></i>
                        }
                    </td>
                    <partial name="_ButtonsPartialView" model="employee.Id.ToString()" />

                </tr>
            }

        </tbody>

    </table>
}
else
{
    <div class="mt-5 alert alert-warning">
        <h3>there is no Employees</h3>
    </div>
}




